header {
  margin: 40px 0;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 13px;
  letter-spacing: 0.6px;
}

header img {
  padding-bottom: 40px;
}

.nav-top a {
  color: rgba(18, 18, 18, 0.75);
}

.nav-top a:hover {
  color: #aaa;
}

.nav-book {
  padding-top: 10px;
}

.nav-book a {
  color: #666;
}

.nav-book a:hover {
  color: #aaa;
}

@media (min-width: 576px) {
  .nav-top .nav-item {
    border-bottom: 1px solid #121212;
  }
}
